.send-button {
  background-color: green;
  color: antiquewhite;
  padding: 12px 20px;
  margin: 0 12px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.chat-input {
  padding: 12px 15px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  flex-grow: 1;
}
.chat-input-container {
  display: flex;
  margin-top: 20px;
}

.app-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  height: 100vh;
  display: flex;
  flex-direction: column;
}
.chat-message-user {
  display: flex;
  justify-content: end;
  padding-top: 15px;
  align-items: start;
}

.chat-message-robot {
  display: flex;
  justify-content: start;
  padding-top: 15px;
  align-items: start;
}

.chat-message-text {
  background-color: lightgray;
  border-radius: 5px;
  padding: 15px 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 300px;
}

.chat-messages-container {
  flex-grow: 1;
  margin-top: 20px;
  overflow: scroll;
  scrollbar-width: none;
}
